@import "../../app.scss";

.hero-container {
  height: 100vh;
  width: 100%;
  background-color: #080808f3;

  .wrapper {
    padding-top: 220px;
    padding-left: 150px;
    z-index: 2;
    gap: 10px;
    .title {
      margin-top: 20px;
      font-size: 52px;
     
      

      h1{
        font-weight: 900;
        color: white;
      }

      @include tablet {
        @include mobile {
          margin-top: 0;
          font-size: 22px;
        }
      }
    }
    .sub-title {
      font-size: 50px;

      h3 {
        font-weight: normal;
        color: white;
      }
      span {
        font-weight: bold;
        color: #66fcf1;
        text-shadow: 0 0 10px rgba(102, 252, 241, 0.2);
      }
      @include tablet {
        @include mobile {
          font-size: 24px;
        }
      }
    }
    p {
      margin-top: 20px;
      width: 70%;
      font-size: 25px;
      font-weight: normal;
      @include tablet {
        @include mobile {
          font-size: 16px;
        }
      }
    }
    button {
      margin-top: 20px;
      padding: 20px 20px;
      font-weight: 900;
      font-size: 24px;
      color: #080808f3;
      background-color: #66fcf1;
      border: 1px solid #66fcf1;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      
      &:hover {
        transform: scale(1.1);
      }
      @include tablet {
        @include mobile {
          font-size: 14px;
        }
      }
    }

    @include tablet {
      @include mobile {
        padding-top: 220px;
    padding-left: 60px;
      }
    }
  }

}
