@import "../../app.scss";

.hero-container {
  height: 100vh;
  max-width: 1195px;
  position: relative;
  background-color: #080808f3;
  overflow: hidden;
  margin-left: 80px;

  @include tablet {
    width: 100%;
    height: 100vh;
    margin-left: 0;

    @include mobile {
    }
  }
  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .title {
    width: 70%;
    position: relative;
    top: 220px;
    left: 100px;
    gap: 10px;
    z-index: 0;
    font-size: 62px;
    
    h1 {
      font-weight: 900;
      color: white;
    }
    @include tablet {
      font-size: 32px;

      @include mobile {
        left: 70px;
        font-size: 22px;
      }
    }
  }
  .sub-title {
    font-size: 50px;
    width: 70%;
    position: relative;
    top: 220px;
    left: 100px;
    gap: 10px;
    z-index: 0;

    h3 {
      font-weight: normal;
      color: white;
    }
    span {
      font-weight: bold;
      color: #66fcf1;
      text-shadow: 0 0 10px rgba(102, 252, 241, 0.2);
    }
    @include tablet {
      font-size: 30px;
      @include mobile {
        left: 70px;
        font-size: 20px;
      }
    }
  }
  p {
    width: 70%;
    position: relative;
    top: 220px;
    left: 100px;
    gap: 10px;
    z-index: 0;
    margin-top: 20px;
    font-size: 25px;
    font-weight: normal;
    color: white;

    @include tablet {
      font-size: 20px;
      @include mobile {
        left: 70px;
        font-size: 18px;
      }
    }
  }
  .Hero-button {
    width: 70%;
    position: relative;
    top: 220px;
    left: 100px;
    // background-color: white;
    button {
      z-index: 0;
      margin-top: 20px;
      padding: 20px 20px;
      font-weight: 900;
      font-size: 24px;
      color: #080808f3;
      background-color: #66fcf1;
      border: 1px solid #66fcf1;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
      @include tablet {
        @include mobile {
          font-size: 14px;
        }
      }
    }
    @include tablet {
      @include mobile {
        left: 70px;
      }
    }
  }
}
