.nav-container {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
z-index: 3;

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .icon {
      color: aliceblue;

      .glow-icon {
        margin-right: 20px;
        font-size: 24px;
        transition: box-shadow 0.3s ease-in-out;
      }

      .glow-icon:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
      }
    }
    .nav-btn {
      margin-left: 560px;
      button {
        padding: 15px;
        font-weight: bold;
      }
    }
  }
}
