@import "../../app.scss";

.nav-container {
  width: 1250px;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: rgba(49, 49, 49, 0.082);
  backdrop-filter: blur(20px);
  display: flex;
  z-index: 3;
  @include tablet {
    @include mobile {
      width: calc(1250px - 738px);
    }
  }
  .wrapper {
    flex: 1;
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .icon {
      color: white;
      .glow-icon {
        margin-right: 20px;
        font-size: 24px;
        cursor: pointer;
      }

      &:hover {
        color: #66fcf1;
      }

      @include tablet {
        @include mobile {
          margin-left: 20px;
        }
      }
    }
    .nav-btn {
      margin-left: 560px;
      button {
        padding: 15px;
        font-weight: bold;
        color: #66fcf1;
        background-color: transparent;
        border: 1.5px solid #66fcf1;
        box-shadow: 0 0 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
      @include tablet {
        @include mobile {
          width: calc(1249px - 738px);
          margin-left: auto;

          margin-right: auto;
        }
      }
    }

    @include tablet {
      @include mobile {
        width: calc(1249px - 738px);
        // justify-content: space-around;
      }
    }
  }
}
